.menu {
    line-height: 40px;
    font-variant: small-caps
}

.menu>ul {
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}

.menu .down {
    text-align: left;
}

.menu>ul>li>a {
    font-variant: small-caps;
    font-size: larger;
    color: rgb(49, 9, 9);
    padding: 0 10px;
    line-height: 40px;
}

.menu>ul>li>a:hover {
    color: rgb(82, 148, 235);
}

.menu>ul>li {
    display: inline-block;
    text-decoration: none;
}

.menu>ul>li>a {
    text-decoration: none;
    display: block;
}

.menu ul ul {
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    width: 200px;
    background-color: white;
    z-index: 1;
}

.menu ul ul a {
    display: block;
    line-height: 30px;
    color: orangered;
    font-variant: small-caps;
    padding: 0 10px;
    text-decoration: none;
}

.menu>ul>li:hover>ul {
    display: block;
}

.menu ul ul a:hover {
    color: rgb(7, 6, 6);
}

.menu ul li {
    display: inline-block;
}

.menu a {
    color: white;
    margin: 0 10px;
}

.menu a:hover {
    color: yellow;
}

li {
    list-style: none;
}

form {
    float: right;
}

.name-left {
    float: left;
}

article {
    background-color: red;
}

.colum {
    float: left;
    width: 200px;
    height: 200px;
    margin-right: 100px;
    margin-top: 50px;
    background-color: aqua;
}

.colum:hover {
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

footer {
    text-align: center;
    background-color: brown;
    margin-top: 40%;
}

.sanpham>img {
    width: 200px;
    height: 250px;
}